@mixin button($radius) {
  border-radius: $radius;
  border: 1px solid $primary;
  color: $primary;
  padding: 1em 2em;
  transition: 0.5s ease;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

@mixin font($size, $weight: 400) {
  font-size: $size;

  @if $weight != 400 {
    font-weight: $weight;
  }
}

%font-style {
  text-align: center;
  h1 {
    @include font($fontTitle, 600);
    margin-bottom: 1em;
  }

  sub {
    @include font(1.3rem, 200);
  }
}
