$primary: #7510f7;

// fonts
$fontTitle: 1.5rem;
$fontSub: 1.5rem;
$fontPara: 1rem;

/* .even-columns {
  display: flex;
  gap: 1em;
}

.grid-ish {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 10em;
  }
} */
