/* @import './Utilities/variables';
@import './Utilities/mixins'; */

.btn {
  @include button(50px);
  @include font(1.3rem, 500);
}

.btn-top {
  @include font(16px);
  border-radius: 50%;
  background-color: black;
  color: white;
  position: fixed;
  cursor: pointer;
  width: 48px;
  height: 48px;
  z-index: 100;
  left: 78%;
  bottom: 15px;

  @screen md {
    left: 90%;
  }
}
