.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  &.card-skills {
    text-align: center;
    align-items: center;
    padding: 2em;
    border: 1px solid #e6ecf8;
    background-color: white;
    line-height: 2em;

    div {
      padding: 1em;
    }

    & > div > h1 {
      @include font($fontTitle, 500);
      margin-bottom: 1em;
    }

    & > div > ul > li {
      @include font(1.2rem);
    }
  }

  &.card-works {
    width: 100%;
    border: 1px solid #e6ecf8;
    overflow: hidden;

    > a > .card-img {
      width: 100%;
      height: 200px;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    > a > .card-info {
      padding: 0.8em;
      text-align: center;

      > h2 {
        @include font($fontSub, 600);
        color: $primary;
      }
    }
  }
}

@media screen and (min-width: $md) {
  .card {
    &.card-works {
      width: 400px;
    }
  }
}
