@import './Utilities/mixins';

.navMain {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @screen lg {
    flex-direction: row;
    justify-content: space-between;
  }

  & > .logo {
    @include font(2rem, 600);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    flex-grow: 5;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: max-height 0.3s ease;

    li {
      @include font(1.3rem);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      cursor: pointer;
      transition: 0.5s ease;
      color: black;
      width: 100%;

      &:hover {
        color: $primary;
      }

      .nav--active {
        color: $primary;
      }

      &:last-child {
        box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 1px 0 0 #e6ecf8;
      }
    }

    &.collapse {
      max-height: 0;

      @screen lg {
        max-height: 280px;
      }
    }

    &.collapse-active {
      max-height: 280px;
    }

    @screen lg {
      display: flex;
      flex-direction: row;
      flex: 1 1 20%;

      li {
        flex-grow: 1;
        &:last-child {
          box-shadow: none;
        }
      }
    }
  }

  /* nav button */
  .nav-toggle {
    padding: 9px 10px;
    margin: 8px 15px;
    border: 1px solid transparent;

    .nav-icon {
      background-color: black;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      margin: 5px 0;
    }

    @screen lg {
      display: none;
    }
  }
}
