@import './Utilities/mixins';

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;

  &.sectHome {
    flex-direction: column;
    height: 85vh;
    margin-bottom: 0;

    .sectHome-hero {
      text-align: center;

      & > h1 {
        @include font(4rem, 600);
      }

      & > p {
        @include font($fontSub);
      }
    }
  }

  &.sectIntro {
    min-height: 60vh;
    background-color: $primary;

    @screen md {
      min-height: 50vh;
    }

    .sectIntro-intro {
      text-align: center;
      color: white;
      padding: 1rem;
      display: block;

      @screen lg {
        padding: 0 10rem;
      }

      @screen xl {
        padding: 0 25rem;
      }

      & > div > h1 {
        @include font(1.5rem, 600);

        @screen md {
          @include font(2rem, 600);
        }
      }
      & > div > p {
        @include font(1.3rem, 200);
        margin-top: 1.5rem;
      }
    }
  }

  &.sectSkills {
    margin-top: -5em;

    .skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;

      & > * {
        flex: 1 1 100%;

        @screen md {
          flex: 0 0 25em;
        }
      }
    }
  }
}
