@import './Utilities/mixins';

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;

  &.sectHome {
    flex-direction: column;
    height: 85vh;
    margin-bottom: 1em;

    .sectHome-hero {
      text-align: center;

      & > h1 {
        @include font(4rem, 600);
      }

      & > p {
        @include font($fontSub);
        margin-bottom: 2em;
      }
    }
  }

  &.sectIntro {
    min-height: 50vh;
    background-color: $primary;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 15em;

    @media (min-width: 360px) {
      padding-bottom: 10em;
    }

    @screen xl {
      min-height: 60vh;
    }

    .sectIntro-intro {
      text-align: center;
      color: white;
      padding: 1rem;
      display: block;

      @screen lg {
        padding: 0 10rem;
      }

      @screen xl {
        padding: 0 25rem;
      }

      & > div > h1 {
        @include font(1.5rem, 600);

        @screen md {
          @include font(2rem, 600);
        }
      }
      & > div > p {
        @include font(1.3rem, 200);
        margin-top: 1.5rem;
      }
    }
  }

  &.sectSkills {
    margin-top: -10em;
    margin-bottom: 5em;

    @screen sm {
      margin-top: -10em;
    }

    .skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;

      & > * {
        flex: 1 1 100%;

        @screen md {
          flex: 0 0 25em;
        }
      }
    }
  }

  &.sectWorks {
    .sectWorks-title {
      @extend %font-style;
      margin-bottom: 2em;
    }

    .sectWorks-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
  }
}
